name: GoReleaser

on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Extract Go version
        id: go-version
        run: echo "version=$(grep 'go = ' mise.toml | cut -d '"' -f 2)" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: ${{ steps.go-version.outputs.version }}
          cache: true

      - name: Run GoReleaser build check (Pull Request)
        if: github.event_name == 'pull_request'
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: v2
          args: build --snapshot --clean

      # GitHub App から一時的なトークンを生成
      - name: Generate Token
        if: startsWith(github.ref, 'refs/tags/')
        id: app-token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        with:
          app-id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          # 自分のリポジトリと Tap リポジトリの両方に権限を絞る（任意）
          owner: ${{ github.repository_owner }}
          repositories: |
            sbot
            homebrew-tools

      - name: Run GoReleaser release (Tag Push)
        if: startsWith(github.ref, 'refs/tags/')
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: v2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
